
<div [ngStyle]="{ 'backgroundImage':'url(../assets/images/work.jpg)'}">
    <div class="login">  
        <img id="imglogo" src="../../assets/images/BobsonandSons.png" alt="Bobsons logo">
            <br>
            <br> 
            <p> Direct Supervisor Login Portal </p>
            <form class="form-signin" action="/Project1/api/login" method="post">
                <div>                
                    <input id="email"  name="email"  type="text" class="form-control"placeholder="Email@example.com" required="required">
                </div>
 
                <div>                
                    <input id="password" name="password" type="password" class="form-control" placeholder="Password" required="required">
                </div>
 
                <div>
                    <p id = "hidden"></p>
                    <a routerlink="/emphome"> <button routerlink="/emphome" id="loginButton" class="btn-primary" type="submit">Login</button> </a>
                </div>
          </form>
    </div>
</div>