
    <div class="login">  
       <img id="imglogo" src="../../assets/images/BobsonandSons.png" alt="Bobsons logo"> 
           <form class="form-signin" action="/Project1/api/login" method="post">
               <div>                
                   <input id="email"  name="email"  type="text" class="form-control"placeholder="Email@example.com" required="required">
               </div>

               <div>                
                   <input id="password" name="password" type="password" class="form-control" placeholder="Password" required="required">
               </div>

               <div>
                   <p id = "hidden"></p>
                   <button id="loginButton" class="btn-primary" type="submit">Login</button>
               </div>
         </form>
   </div>