

<div [ngStyle]="{ 'backgroundImage':'url(../assets/images/work.jpg)'}">
    <div class="login">  
        <img id="imglogo" src="../../assets/images/BobsonandSons.png" alt="Bobsons logo">
            <br>
            <br> 
            <p> Employee Login Portal </p>
            <form class="form-signin" [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-group">                
                    <input formControlName="username"  type="text" class="form-control" placeholder="Email@example.com">
                </div>
 
                <div class ="form-group">                
                    <input formControlName="password" type="password" class="form-control" placeholder="Password">
                </div>
 
                <div class="form-group">
                    <button  id="loginButton" class="btn-primary">Login</button>
                </div>
          </form>
    </div>
</div>