<div>
    <br>
    <br>
  </div>

  <div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 well">
            <div class="col-sm-12 form-legend">
                <h2 class="card-header">Tuition Reimbursement Form</h2>
            </div>

              <form [formGroup]="form" (ngSubmit)="onSubmit()" >
                    <div class="form-row">
                        <!--Name of the Employee-->
                        <div class="col-md-6 mb-4">
                            <label for="firstname">First Name</label>
                            <input type="text" formControlName="formFirstName" class="form-control" placeholder="First Name">       
                        </div>

                        <div class="col-md-6 mb-4">
                            <label for="lastname">Last Name</label>
                            <input type="text" formControlName="formLastName" class="form-control" placeholder="Last Name">       
                        </div>
                    </div>   

                    <div class="form-row">
                        <!--Type Of Event-->
                        <div class="col-md-5 mb-2">
                            <label for="typeEvent">Type of Event</label>
                            <select formControlName="formEventType" class="form-control">
                            <option *ngFor="let event of eventTypes" [value]="event">{{event}}</option>
                            </select>
                        </div>
                    
                        <!--Cost of event-->
                        <div class="col-md-3 mb-4">
                            <label  for="costEvent"> Event Cost</label>
                           
                            <input type="number" formControlName="formEventCost" class="form-control" placeholder="Amounts">  
                
                        </div>

                        <!--Start Date of Event-->
                        <div class="col-md-4 mb-4">
                            <label for="startDate">Start Date of Event</label>
                            <input type="date" formControlName="formEventStartDate" class="form-control">   
                        </div>
                    </div>
                   
                    <!--Time of Event-->
                    <div class="form-row">
                        <div class="col-md-6 mb-4">
                            <label for="startTime">Start time of Event</label>
                            <input type="time" formControlName="formEventStartTime" class="form-control">  
                        </div>

                        <div class="col-md-6 mb-4">
                            <label for="endTime">End time of Event</label>
                            <input type="time" formControlName="formEventEndTime" class="form-control">  
                        </div>
                    </div>

                    
                      
                    <!--Location address-->
                    <div class="form-row">
                        <div class="col-md-12 mb-4">
                            <label for="address">Address</label>
                            <input type="text" formControlName="formEventAddress" class="form-control">  
                        </div>
                    </div>

                    <!--Cont. Location address-->
                    <div class="form-row">
                        <!--City-->
                        <div class="col-md-5 mb-4">
                            <label for="City">City</label>
                            <input type="text" formControlName="formEventCity" class="form-control">  
                        </div>

                        <!--State-->
                        <div class="col-md-4 mb-4">
                            <label for="state">State</label>
                            <select class="form-control" formControlName="formEventState" class="form-control">
                            <option *ngFor="let state of states" [value]="state"  >{{state}}</option>
                            </select>
                        </div>

                        <!--Zip-->
                        <div class="col-md-3 mb-4">
                            <label for="zipCode">Zip Code</label>
                            <input type="number" fromControlName="formEventZip" class="form-control">   
                        </div>
                    </div>
                      
                    <!--Description-->
                    <div class="form-row">
                        <div class="col-md-12 mb-4">
                            <label for="description">Description</label>
                            <textarea type="text" fromControlName="formEventDescription" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success">Submit</button>
                    </div>
                </form>
        </div>
    </div>